body {
  text-align: center;
  background-color: #272d30;
}

h1 {
  font-size: 5rem;
  color: #f4fcff;
  font-family: "Arvo", cursive;

}

.w {
  background-image: url(./images/crash.png);
}

.a {
  background-image: url(./images/kick.png);
}

.s {
  background-image: url(./images/snare.png);
}

.d {
  background-image: url(./images/tom1.png);
}

.j {
  background-image: url(./images/tom2.png);
}

.k {
  background-image: url(./images/tom3.png);
}

.l {
  background-image: url(./images/tom3.png);
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #af0000;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  font-size: 5.5rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  line-height: 2.0;
  font-weight: 800;
  color: rgb(253, 216, 216);
  border-radius: 9px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: .5rem;
  text-shadow: -6px 6px 5px rgb(0, 0, 0);
  box-shadow: 10px 10px 5px 2px rgba(0, 0, 0, .4);
}

@media screen and (max-width: 425px) {
  #title {
    font-size: 3.3rem;
  }
  .drum {
    border: none;
  }
}